<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- 
      Tell IIS to use the built Node.js application for all requests.
      Azure App Service will use iisnode to handle Node.js applications.
    -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable CORS if needed -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>

    <!-- Configure error pages -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Make sure error responses are sent to the client -->
    <iisnode 
      nodeProcessCommandLine="node"
      interceptor="%ProgramFiles%\iisnode\interceptor.js"
      debuggingEnabled="false"
      loggingEnabled="true"
      devErrorsEnabled="false"
      node_env="%node_env%"
    />

  </system.webServer>
</configuration>
